@model ArticleEditFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BriefIntroduction"></label>
                <textarea asp-for="BriefIntroduction" class="form-control" placeholder="Кратко представяне..."></textarea>
                <span asp-validation-for="BriefIntroduction" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" rows="4" class="form-control" placeholder="Знаете ли, че..."></textarea>
                <span asp-validation-for="Content" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Вашата снимка...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HyperlinkSource"></label>
                <input asp-for="HyperlinkSource" class="form-control" placeholder="www...">
                <span asp-validation-for="HyperlinkSource" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories"></label>
                <select asp-for="CategoryListIds" class="form-control" name="CategoryIDs[]" multiple>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="Categories" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weathers"></label>
                <select asp-for="WeatherListIds" class="form-control" name="WeatherIDs[]" multiple>
                    @foreach (var weather in Model.Weathers)
                    {
                        <option value="@weather.Id">@weather.Name</option>
                    }
                </select>
                <span asp-validation-for="Weathers" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

