@model ArticleFormModel


@{
    ViewBag.Title = "Добави статия";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ArticleFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
