@model ArticleEditFormModel


@{
    ViewBag.Title = "Редактирай статия";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ArticleEditFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
