html {
  font-size: 14px;
}

#adminLayout{
    background-color: white;
}
#whiteletters{
    color:whitesmoke
}

#fixpic img{
height : 300px;
}

body {
    background-image: url('/backgroundPicture11.jpg');
    background-size: 100%;
    margin: 0;
    background-attachment: fixed
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.dropdown{
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    background-color: white;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content{
    display:block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

