html {
  font-size: 14px;
}

#whiteletters{
    color:whitesmoke
}

#fixpic img{
height : 300px;
}

body {
    background-image: url('/backgroundPicture11.jpg');
    background-size: 100%;
    margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}