@{
    ViewData["Title"] = "Dashboard";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Здравей, Администратор!</h2>
    <p class="lead mb-1 mt-3">
        <b>Очакващи одобрение:</b> 
        <hr class="my-4">
        <a asp-area="Admin" asp-controller="Article" asp-action="Approve"
           class="btn btn-warning btn-lg">Статии</a>
        <a asp-area="Admin" asp-controller="Event" asp-action="Approve"
           class="btn btn-warning btn-lg">Събития</a>
        <hr class="my-4">
        <hr class="my-4">
    <a asp-area="" asp-controller="Article" asp-action="All"
       class="btn btn-primary btn-lg">Всички статии</a>
        <a asp-area="" asp-controller="Event" asp-action="All"
           class="btn btn-primary btn-lg">Всички събития</a>
        <hr class="my-4">
    <a asp-area="" asp-controller="Article" asp-action="Add"
       class="btn btn-primary btn-lg">Добави статия</a>
        <a asp-area="" asp-controller="Event" asp-action="Add"
           class="btn btn-primary btn-lg">Добави събитие</a>
        <hr class="my-4">
    <a asp-area="" asp-controller="Article" asp-action="Mine"
       class="btn btn-primary btn-lg">Моите статии</a>
        <a asp-area="" asp-controller="Event" asp-action="Mine"
           class="btn btn-primary btn-lg">Моите събития</a>
        <hr class="my-4">
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">Всички потребители</a>
</div>
