@{
    ViewBag.Title = "За нас";
}

<h2 class="center">ViewBag.Title</h2>
<hr />

<div>
    <p><b>Здравейте! Ние сме група ентусиасти, любители на природата и приключенията. Решихме да направим този сайт, за да можем да споделяме информация и идеи за интересни занимания навън. Вярваме, че сме част от природата и не можем да съществуваме без нея и се стараем да учим на това и децата си. Ще се радваме да споделите нашето начинание, и да успеем заедно да намерим още повече причини да излезем навън!</b></p>
    <p><b>Можете да се свържете с нас на телефон 088 888 8888 и имейл popopo@mail.com</b></p>
</div>
<div class="text-center col-10">
    <img src="https://media.istockphoto.com/id/513473716/photo/teen-friends-dancing-on-the-beach-at-sunset.webp?b=1&s=170667a&w=0&k=20&c=qMn-03j_GR7UX2uYnCSTAkDRGwvOVuVk6e2zSyyJwUU=" />
</div>
