@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://static.webcafe.bg/uploads/images/04/2304/132304/768x432.jpg?_=1583959958" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Опс, страницата, която търсехте, не беше открита (но поне се усмихнете).</p>
                </div>
                <div class="text-left h4">  Върнете се на <a asp-controller="Home" asp-action="Index">Home</a> страница</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>