@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://sitechecker.pro/wp-content/uploads/2023/06/401-status-code.png" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Опс... Нямате достъп до тази страница.</p>
                </div>
                <div class="text-left h4">  Върнете се на <a asp-controller="Home" asp-action="Index">Home</a> страница</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
