@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://freefrontend.com/assets/img/500-error-page-html-templates/HTML-CSS-500-Internal-Error-Page.gif" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Опс, възникна неочаквана грешка.</p>
                </div>
                <div class="text-left h4">  Върнете се на <a asp-controller="Home" asp-action="Index">Home</a> страница</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>