@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
    var articles = Model.ArticleModels.ToList();
    var events = Model.EventModels.ToList();
}

<div class="text-center">
    <h1 class="display-4">Добре дошли, тук ще намерите хиляди причини да излезете навън и да се забавлявате!</h1>
</div>
<div>
    <div>
        @if(!articles.Any())
        {
            <div>
                <p class="lead">
                    Няма публикувани статии. Желаете ли да напишете статия?
                </p>
                <hr class="my-4" />
                <p class="lead">
                    @if(User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a asp-controller="Article" asp-action="Add" class="btn btn-primary btn-lg" role="button">Добави статия</a>
                    }
                </p>
            </div>
        }
    </div>
    <div>

    </div>
</div>
