@model EventFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Заглавие...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BriefIntroduction"></label>
                <textarea asp-for="BriefIntroduction" class="form-control" placeholder="С нас няма да скучаете и миг..."></textarea>
                <span asp-validation-for="BriefIntroduction" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Елате ни на гости..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" rows="4" class="form-control" placeholder="Чакаме Ви на адрес..."></textarea>
                <span asp-validation-for="Address" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Начало:</label>
                <input asp-for="StartDate" rows="4" class="form-control" placeholder="@DateTime.Now.ToString("16/05/2024 14:00")...">
                <span asp-validation-for="StartDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate">Край: </label>
                <input asp-for="EndDate" rows="4" class="form-control" placeholder="@DateTime.Now.ToString("16/05/2024 14:00")...">
                <span asp-validation-for="EndDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Вашата снимка...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventHyperlink"></label>
                <input asp-for="EventHyperlink" class="form-control" placeholder="www.website.com/myEvent...">
                <span asp-validation-for="EventHyperlink" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

