@inject IAuthorService authorService;
@inject IOrganizerService organizerService;

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="All">Списък статии</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="All">Списък събития</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Dashboard">Начало</a>
    </li>   
</ul>